* {
    box-sizing: border-box;
}

body {
    background: rgb(1, 0, 8);
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.image-container {
    width: 50%;
    position: relative;
}

img#image-films  {
    border: 20px solid white;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    border: 20px solid gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.image-container:hover .overlay  {
    opacity: 1;
} 

.text  {
    color:black;
    font-size: 20px;
    text-align: center;
}


.select-film {
    max-width: 200px;
    margin: 20px auto;
}

.select-film .select-btn #chooseMovie{
    display: flex;
    height: 50px;
    background: black;
    padding: 20px;
    color: black;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.menu {
    display: none;
    flex-direction: column;
    max-width: 200px;
    color: white;
    margin: 12px auto;    
}

.menu_active {
    display: flex;
}

.lists {
    display: none;
    justify-content: center;
    margin: 12px 0;
    gap: 24px;
}

.lists_active {
    display: flex;
}

.list {
    width: 300px;
}

.list > span {
    margin-bottom: 12px;
}

.list-items {
    display: flex;
    flex-direction: column;
}

.list-items a {
    color: #ffffff;
}



